{% extends 'base.html.twig' %}

{% block title %}
{{'label_borrowing'|trans}}
{% endblock %}


{% block body %}
    <div class="container">
    <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
<h1>{{'label_borrowing'|trans}}</h1>

    {{ form_start(form, {method: 'POST', action: url('borrowing_create')}) }}
    {{ form_widget(form) }}


    <div class="form-group row float-sm-right">
        <input type="submit" value="send" class="btn btn-primary" >
    </div>

    <div class="form-group row float-sm-left">
        <a class="btn btn-outline-info" href="{{ url('record_index') }}" title="{{ 'action_show_records'|trans }}">
        {{ 'action_show_records'|trans }}
        </a>
    </div>

{{ form_end(form) }}
    </div>
    </div>
    </div>
{% endblock %}