{% extends 'base.html.twig' %}


{% block title %}
Manage borrowings
{% endblock %}



{% block body %}
<h1>Manage borrowings</h1>

    {% if pagination is defined and pagination.items|length %}

    <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>{{ knp_pagination_sortable(pagination, 'label_comment'|trans, 'borrowing.comment') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'label_records'|trans, 'borrowing.records') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'created_at'|trans, 'borrowing.createdAt') }}</th>
        <th>{{ 'label_actions'|trans }}</th>
    </tr>
    <tbody>


        {% for borrowing in pagination.items %}
            {% if borrowing.isExecuted == 0 %}
                <tr>
                    <td>{{ borrowing.comment }} </td>
                    <td>{{ borrowing.record.title }}</td>
                    <td> {{ borrowing.createdAt|date('Y/m/d') }} </td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                         <a href="{{ url('borrowing_accept', {id: borrowing.id}) }}" title="Accept">
                            Accept
                        </a>
                            {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('borrowing_decline', {id: borrowing.id}) }}" title="Decline">
                            Decline
                        </a>
                            {% endif %}
                    </td>
                </tr>
            {% endif %}
    {% endfor %}
        </tbody>

    </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% else %}
            {{ 'message_empty_list'|trans }}
        {% endif %}



{% endblock %}