{% extends 'base.html.twig' %}

{% block title %}
{{'label_borrowing'|trans}}
{% endblock %}

{% block body %}
    <div class="container">
    <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
<h1> {{'label_borrowing'|trans}} </h1>

{% if pagination is defined and pagination.items|length %}

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>{{ knp_pagination_sortable(pagination, 'label_comment'|trans, 'borrowing.comment') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'label_records'|trans, 'borrowing.records') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'borrowing.createdAt') }}</th>
        <th>{{ 'label_actions'|trans }}</th>
    </tr>
    <tbody>
    {% for borrowing in pagination.items %}
        {% if borrowing.isExecuted == 1 %}
            <tr>
                <td>{{ borrowing.comment }} </td>
                <td>{{ borrowing.record.title }}</td>
                <td> {{ borrowing.createdAt|date('Y/m/d') }} </td>
                <td>
            {% if is_granted('BORROWING_VIEW', borrowing) %}
                        <a href="{{ url('borrowing_return', {id: borrowing.id}) }}" title="Return">
                            Return
                        </a>

            {% endif %}
                </td>
            {% else %}
                <h2>{{ 'no_borrowing'|trans }}</h2>
                {% endif %}
            </tr>
    {% endfor %}
{% endif %}
    <div class="form-group row float-sm-right">
        <a class = "btn btn-info" href="{{ url('borrowing_create') }}" title="{{ 'action_borrowing'|trans }}">
            {{ 'action_borrowing'|trans }}
        </a>
    </div>
    </tbody>
</table>
    </div>
    </div>
{% endblock %}