{% extends 'base.html.twig' %}

{% block title %}
View record
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block body %}
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1>{{'title_record_view'|trans({'%id%': record.title|default('')}) }}</h1>

    {% if record is defined and record|length %}

    <dl>
        <dt>Title</dt>
        <dd>{{ record.title }}</dd>
        <dt>Category</dt>
        <dd>{{ record.category.name }}</dd>
        <dt>Tags</dt>
        {% for tags in record.tags %}
            <dd><a href="{{ url('tag_searching', {id: tags.id}) }}">{{ tags.title }}</a></dd>
        {% endfor %}
        <dt>{{'label_actions'|trans}}</dt>
        <dd>
            <a href="{{ url('record_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </dd>
    </dl>
        {% else %}
            {{'message_empty_list'|trans}}
     {% endif %}
        </div>
    </div>
</div>
{% endblock %}
