{% extends 'base.html.twig' %}

{% block title %}
{{'action_delete'|trans}}
{% endblock %}

{% block body %}
    <div class="container">
    <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
<h1>{{'action_delete'|trans}}</h1>

    {{ form_start(form, {method: 'DELETE', action: url('category_delete', {'id': category.id}) }) }}
    {{ form_widget(form) }}

    <div class="form-group row float-sm-right">
        <input type="submit" value="delete" class="btn btn-primary" > {#przycisk do wysyłania#}
    </div>

    <div class="form-group row float-sm-left">
        <a class="btn btn-outline-primary" href="{{ url('category_index') }}" title="{{ 'action_back_to_list'|trans }}">
            {{ 'action_back_to_list'|trans }}
        </a>

{{ form_end(form) }}

    </div>
    </div>
    </div>

{% endblock %}