{% extends 'base.html.twig' %}



{% block title %}
Users
{% endblock %}


{% block body %}
<h1>Users</h1>

    {% if pagination is defined and pagination.items|length %}
    <table class="table table-striped">
    <thead>
    <tr>
        <th> {{ knp_pagination_sortable(pagination,  'label_email'|trans, 'user.email') }} </th>
        <th> {{ 'label_actions'|trans }} </th>
    </tr>
    </thead>

    <tbody>
    {% for user in pagination.items %}

    <tr>
    <td>{{ user.email }}</td>
    <td>
    <a href="{{ url('change_password', {id: user.id}) }}" title="Edit_password">
        Edit_password
    </a>


        <a href="{{ url('user_data_edit', {id: user.userData.id}) }}" title="Edit_data">
            Edit_data
            </a>


    </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    {% endif %}
{% endblock %}