
{% extends 'base.html.twig' %}

{% block title %}
    {{'label_account'|trans}}
{% endblock %}


{% block body %}

    <div class="container">
    <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
<h1>{{'label_account'|trans}}</h1>
{% if user is defined and user|length %}
    <dl>
        <dt>Email</dt>
        <dd>{{ user.email }}</dd>
        <dt>{{'label_nick'|trans}}</dt>
        <dd>{{ user.userData.nick }}</dd>

        <dd>
            {% if user.userData.nick|length %}
          <a class="btn btn-warning" href="{{ url('user_data_edit', {id: user.userData.id}) }}" title="{{'action_change_data'|trans}}">
                {{'action_change_data'|trans}}
            </a>
            {% else %}
            <a class="btn btn-warning" href="{{ url('user_data_edit', {id: user.userData.id}) }}" title="{{'action_set_nick'|trans}}">
                {{'action_set_nick'|trans}}
            </a>
            {% endif %}
            <a class="btn btn-warning" href="{{ url('change_password', {id: user.id}) }}" title="{{'action_change_password'|trans}}">
                {{'action_change_password'|trans}}
            </a>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-info" href="{{ url('manage_borrowing') }}" title="{{'manage_borrowings'|trans}}">
                {{ 'manage_borrowings'|trans }}
            </a>
            {% endif %}
            <a class="btn btn-info" href="{{ url('my_borrowing', {id: app.user.id}) }}" title="{{ 'label_my_borrowings'|trans }}">
                {{'label_my_borrowings'|trans}}
            </a>
        </dd>
    </dl>
{% else %}
    {{'message_empty_list'|trans}}
{% endif %}
    </div>
    </div>
    </div>
{% endblock %}