
{% extends 'base.html.twig' %}

{% block title %}
    My account
{% endblock %}


{% block body %}

    <div class="container">
    <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
<h1>My account</h1>
{% if user is defined and user|length %}
    <dl>
        <dt>Email</dt>
        <dd>{{ user.email }}</dd>
        <dt>Nick</dt>
        <dd>{{ user.userData.nick }}</dd>

        <dd>
          <a href="{{ url('user_data_edit', {id: user.userData.id}) }}" title="{{'action_change_nick'|trans}}">
                {{'action_change_nick'|trans}}
            </a>
            <a href="{{ url('change_password', {id: user.id}) }}" title="{{'action_change_password'|trans}}">
                {{'action_change_password'|trans}}
            </a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('manage_borrowing', {id: app.user.id}) }}" title="{{'manage_borrowings'}}">
                {{ 'manage_borrowings'|trans }}
            </a>
            {% endif %}
            <a href="{{ url('my_borrowing', {id: app.user.id}) }}" title="Moje wypozyczenia">
                Moje wypozyczenia
            </a>
        </dd>
    </dl>
{% else %}
    {{'message_empty_list'|trans}}
{% endif %}
    </div>
    </div>
    </div>
{% endblock %}